div {
  width: 400px;
}

.picture {
  float: left;
}

.parent {
  width: 340px;
  min-height: 20px;
  background: #FF32FF;
  clear: both;
}

.rows {
  width: 100px;
  height: 100px;
  background: #1212F2;
  margin: 5px;
  clear: both;
}
